:root {
  --brandColorRGB: 0, 255, 255;

  --backgroundColorRGB: 255, 255, 255;
  --textColorRGB: 0, 0, 0;
  --textColorHoverRGB: 0, 0, 0;
  --borderContrast: 0.1;

  --brandColor: rgb(var(--brandColorRGB));
  --backgroundColor: rgb(var(--backgroundColorRGB));
  --textColor: rgb(var(--textColorRGB));
  --textHoverColor: rgb(var(--textColorHoverRGB));
  --headingTextColor: rgb(var(--textColorRGB));

  --borderColor: rgba(var(--textColorRGB), var(--borderContrast));

  --linkColor: var(--textColor);
  --linkHoverColor: var(--textHoverColor);

  --fontWeightBold: 700;
  --fontSize: 18px;
  --fontSizeCode: 14px;
  --fontSizeNavGroups: 16px;
  --fontSizeSideNav: 14px;

  --codeBackground: #141414;

  --mainNavHeight: 60px;

  --animationDuration: 200ms;
}

/**
 * Base
 */
* {
  box-sizing: border-box;
}

html.dark {
  --backgroundColorRGB: 0, 0, 0;
  --textColorRGB: 255, 255, 255;
  --textColorHoverRGB: 0, 0, 0;
  --borderContrast: 0.2;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--backgroundColor);
  color: var(--textColor);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: var(--fontSize);
}

a {
  transition: all var(--animationDuration) ease;
}

p,
pre {
  margin-bottom: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--headingTextColor);
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-top: 60px;
  margin-bottom: 20px;
}

/**
 * Resets
 */

.hash-link path {
  fill: var(--linkColor);
}
.hash-link:hover path {
  fill: var(--linkHoverColor);
}

/**
 * Link
 */
article a:not(.button):not(.anchor),
.nav-footer .copyright a {
  background: rgba(var(--brandColorRGB), 0.1);
  border-bottom: 2px solid var(--brandColor);
  color: var(--linkColor);
  transition: none;
}
article a:not(.button):not(.anchor):hover,
.nav-footer .copyright a:hover {
  background: rgba(var(--brandColorRGB), 1);
  border-bottom: 2px solid var(--brandColor);
  color: var(--linkHoverColor);
}

.navBreadcrumb a,
.navBreadcrumb span {
  color: rgba(var(--textColorRGB), 0.5);
}

/**
 * Components
 */

.button {
  border-radius: 9999px;
  border: 1px solid transparent;
  border-color: transparent;
  color: var(--linkColor);
  font-size: 1rem;
  box-shadow: 0 4px 6px var(--borderColor),
    0 1px 3px 0px rgba(var(--textColorRGB), 0.08),
    0 0 0 1px rgba(var(--textColorRGB), 0.08);
  font-weight: var(--fontWeightBold);
  padding: 16px 2.5em 17px;
  line-height: 1;
  transform: translateY(0);
  transition: all var(--animationDuration) ease;
  text-transform: initial;
}

.button:hover {
  box-shadow: 0 7px 14px var(--borderColor),
    0 3px 6px rgba(var(--textColorRGB), 0.08),
    0 0 0 1px rgba(var(--textColorRGB), 0.08);
  color: var(--linkHoverColor);
  background: var(--brandColor);
  transform: translateY(-2px);
}

.button:hover:active {
  color: var(--linkHoverColor);
  transform: translateY(2px);
}

.button:focus {
  border-color: rgba(var(--textColorRGB), 0.2);
  color: var(--linkColor);
  outline: none;
}

/**
 * Container
 */
.wrapper {
  max-width: 1280px;
}

@media only screen and (min-width: 1024px) {
  .separateOnPageNav .wrapper,
  .separateOnPageNav .headerWrapper.wrapper {
    max-width: 1280px;
  }
}

@media only screen and (min-width: 1024px) {
  .docsNavContainer {
    height: 100%;
    min-height: calc(100vh - var(--mainNavHeight));
    top: var(--mainNavHeight);
  }
}

/**
 * Header
 */
.fixedHeaderContainer,
.navigationSlider .slidingNav ul,
.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background: var(--backgroundColor);
  color: var(--textColor);
}
.fixedHeaderContainer {
  padding: 13px 0;
  min-height: var(--mainNavHeight);
}
.fixedHeaderContainer header a {
  color: var(--textColor);
}
.fixedHeaderContainer header .headerTitleWithLogo {
  display: block !important;
}

.fixedHeaderContainer {
  box-shadow: 0 1px 3px var(--borderColor), 0 2px 10px var(--borderColor);
}

.fixedHeaderContainer header > a {
  opacity: 1;
  transition: all var(--animationDuration) ease;
}

.fixedHeaderContainer header > a:hover {
  opacity: 0.6;
}

/**
 * Navigation
 */
@media only screen and (max-width: 1023px) {
  .docsNavContainer {
    background: var(--backgroundColor);
  }
}
.navigationWrapper.navigationSlider {
  height: 34px;
  margin-left: auto;
  position: relative;
}

.navigationSlider nav.slidingNav {
  background: none;
  height: auto;
  position: relative;
  right: auto;
  top: auto;
  width: auto;
}

.navigationSlider .slidingNav ul {
  background: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  width: auto;
}

.navigationSlider .slidingNav ul li a {
  border: 0;
  color: rgba(var(--textColorRGB), 0.8);
  display: flex;
  font-size: 0.8em;
  font-weight: var(--fontWeightBold);
  height: 32px;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  padding: 6px 10px;
  transition: none;
}

.navigationSlider .slidingNav ul li > a:focus {
  background: none;
}

.navPusher {
  padding-top: var(--mainNavHeight);
}

.toggleNav h2 i {
  font-style: normal;
}

.docsNavContainer .toc .navBreadcrumb {
  background: var(--backgroundColor);
  border-bottom: 1px solid var(--borderColor);
}

.tocActive .onPageNav {
  background: var(--backgroundColor);
}

@media only screen and (max-width: 1023px) {
  .tocActive .onPageNav {
    top: 107px;
    margin-bottom: 0;
  }
}

.toc .toggleNav .navToggle:before,
.toc .toggleNav .navToggle:after {
  border-color: rgb(var(--textColorRGB));
}

.toc .toggleNav .navToggle i:before,
.toc .toggleNav .navToggle i:after {
  border-color: transparent rgb(var(--textColorRGB));
}

/**
 * Home
 */
.homeContainer .homeWrapper {
  padding-bottom: 5em;
  padding-top: 3em;
}

@media (min-width: 768px) {
  .homeContainer .homeWrapper {
    padding-bottom: 6em;
    padding-top: 6em;
  }
}

h2.projectTitle {
  color: var(--headingTextColor);
  font-size: 3.5rem;
}

h2.projectTitle small {
  font-weight: 300;
  line-height: 1.4;
}

/**
 * Footer
 */
.nav-footer {
  background: var(--backgroundColor);
  border-top: 1px solid var(--borderColor);
  padding-top: 3em;
  padding-bottom: 3em;
}

@media only screen and (min-width: 736px) {
  .nav-footer .sitemap {
    padding: 0 20px;
  }
}

.nav-footer .sitemap h5,
.nav-footer .sitemap a:hover {
  color: rgba(var(--textColorRGB), 1);
}

.nav-footer .sitemap a {
  color: rgba(var(--textColorRGB), 0.6);
}

.nav-footer .copyright {
  color: rgba(var(--textColorRGB), 0.4);
  font-size: 0.8rem;
}

.nav-footer .sitemap .nav-home {
  height: 30px;
  width: 30px;
  padding: 0;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 20px;
}

.nav-footer .sitemap .nav-home img {
  display: block;
  width: 100%;
  height: auto;
}

.nav-footer .sitemap a {
  display: inline-block;
}
.nav-footer .sitemap a:hover,
.nav-footer .sitemap a:focus {
  color: var(--textColor);
  outline: none;
}

/**
 * Article
 */

article {
  animation: fadeIn 300ms linear;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

article,
.docs-prevnext {
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}

@media (min-width: 1024px) {
  article,
  .docs-prevnext {
    max-width: 100%;
  }
}

header.postHeader:empty + article h1 {
  margin-top: 20px;
  margin-bottom: 1em;
}

@media (min-width: 1024px) {
  header.postHeader:empty + article h1 {
    margin-top: 0;
  }
}

.hljs {
  background: var(--codeBackground);
  border-radius: 4px;
  font-size: var(--fontSizeCode);
  padding: 20px;
}

/**
 * Article / Nav Groups
 */
@media (min-width: 1024px) {
  .docsNavContainer {
    border-right: 1px solid var(--borderColor);
  }
}

.navGroups {
  font-weight: var(--fontSizeNavGroups);
}
.toc .toggleNav .navGroup .navGroupCategoryTitle {
  color: rgba(var(--textColorRGB), 0.7);
}
.toc .toggleNav .navGroup .navGroupCategoryTitle {
  font-size: 0.65rem;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.4;
  margin-bottom: 15px;
}

.toc .toggleNav ul li.navListItemActive a,
.toc .toggleNav ul li.navListItemActive a:hover {
  color: var(--textColor);
  font-weight: var(--fontWeightBold);
}

.toc .toggleNav ul li a:hover,
.toc .toggleNav ul li a:focus {
  color: var(--textColor);
  font-weight: var(--fontSizeNavGroups);
}

/**
 * Article / Table of Contents
 */
ul.toc-headings > li {
  padding-bottom: 0px; /* moved to li > a */
}

.toc-headings > li > a {
  display: block;
  padding: 4px;
}

.toc-headings > li > a.active {
  color: rgba(var(--textColorRGB), 0.6);
  font-weight: bold;
}

.onPageNav a {
  color: rgba(var(--textColorRGB), 0.6);
}

.onPageNav ul li {
  font-size: var(--fontSizeSideNav);
  margin-bottom: 5px;
}

@media only screen and (min-width: 1024px) {
  .onPageNav > .toc-headings {
    border-color: var(--borderColor);
  }
}
