body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2em;
}

.wrapper {
  max-width: 1280px;
}

@media only screen and (min-width: 1024px) {
  .separateOnPageNav .wrapper,
  .separateOnPageNav .headerWrapper.wrapper {
    max-width: 1280px;
  }
}

.fixedHeaderContainer,
.navigationSlider .slidingNav ul,
.navigationSlider .slidingNav ul li > a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive > a,
.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
  background: white;
  color: black;
}
.fixedHeaderContainer header a {
  color: black;
}
.fixedHeaderContainer header .headerTitleWithLogo {
  display: block !important;
}

.fixedHeaderContainer {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 2px 10px rgba(0, 0, 0, 0.05);
}

.navigationWrapper.navigationSlider {
  height: 34px;
  margin-left: auto;
  position: relative;
}

.navigationSlider nav.slidingNav {
  background: none;
  height: auto;
  position: relative;
  right: auto;
  top: auto;
  width: auto;
}

.navigationSlider .slidingNav ul {
  background: none;
  display: flex;
  flex-flow: row nowrap;
  margin: 0;
  padding: 0;
  width: auto;
}

.navigationSlider .slidingNav ul li a {
  border: 0;
  color: rgba(0, 0, 0, 0.8);
  display: flex;
  font-size: 16px;
  font-size: 1em;
  font-weight: 600;
  height: 32px;
  line-height: 1.2em;
  margin: 0;
  padding: 0;
  padding: 6px 10px;
}

.navPusher {
  padding-top: 50px;
}

.docsNavContainer .toc .navBreadcrumb {
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.tocActive .onPageNav {
  background: #f9fafa;
}

@media only screen and (max-width: 1023px) {
  .tocActive .onPageNav {
    top: 97px;
    margin-bottom: 0;
  }
}

.homeContainer .homeWrapper {
  padding-bottom: 4em;
  padding-top: 4em;
}

@media (min-width: 768px) {
  .homeContainer .homeWrapper {
    padding-bottom: 6em;
    padding-top: 6em;
  }
}

h2.projectTitle {
  color: black;
  font-size: 3.5rem;
}

h2.projectTitle small {
  font-weight: 300;
}

header.postHeader:empty + article h1 {
  margin-top: 0;
}

.nav-footer {
  background: white;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  padding-top: 3em;
  padding-bottom: 3em;
}

@media only screen and (min-width: 736px) {
  .nav-footer .sitemap {
    padding: 0 20px;
  }
}

.nav-footer .sitemap h5,
.nav-footer .sitemap a:hover {
  color: rgba(0, 0, 0, 1);
}

.nav-footer .sitemap a,
.nav-footer .copyright {
  color: rgba(0, 0, 0, 0.6);
}

.hljs {
  background: #f6f8fa;
  border-radius: 4px;
  padding: 20px;
}

p,
pre {
  margin-bottom: 1.5em;
}

.button {
  text-transform: initial;
  font-weight: 600;
  padding: 12px 2em;
}

.nav-footer .sitemap .nav-home {
  height: 30px;
  width: 30px;
  padding: 0;
  margin-top: 0;
  margin-right: 40px;
  margin-bottom: 20px;
}

.nav-footer .sitemap .nav-home img {
  display: block;
  width: 100%;
  height: auto;
}

ul.toc-headings > li {
  padding-bottom: 0px; /* moved to li > a */
}

.toc-headings > li > a {
  display: block;
  padding: 4px;
}

.toc-headings > li > a.active {
  background-color: rgba(27, 31, 35, 0.05);
  font-weight: bold;
}
